Repository hyochan/react-native-nitro-sound, pull requests merged in 2019-07, with the labels that each got.

#82 Androidx compatible
  Example/android/app/src/main/java/com/dooboo/MainActivity.java
  Example/android/build.gradle
  Example/android/gradle.properties
  Example/android/gradle/wrapper/gradle-wrapper.properties
  README.md
  android/build.gradle
  package.json
Labels: feature, upgrade

#91 Update build.gradle
  android/build.gradle
Labels: android, enhancement

#92 Release 2.2.1
  CHANGELOG.md
  package.json
Labels: release

#94 Makes path param in startRecord to behave as a path on iOS
  ios/RNAudioRecorderPlayer.m
Labels: enhancement, ios
