Repository hyochan/react-native-nitro-sound, pull requests merged in 2021-05, with the labels that each got.

#282 Migrate current project to Kotlin
  .github/workflows/ci.yml
  .github/workflows/publish-package.yml
  Example/android/build.gradle
  Example/yarn.lock
  README.md
  android/build.gradle
  android/src/main/AndroidManifest.xml
  android/src/main/java/com/dooboolab.audiorecorderplayer/RNAudioRecorderPlayerModule.kt
  android/src/main/java/com/dooboolab.audiorecorderplayer/RNAudioRecorderPlayerPackage.kt
  android/src/main/java/com/dooboolab/RNAudioRecorderPlayerModule.java
  android/src/main/java/com/dooboolab/RNAudioRecorderPlayerPackage.java
  issue_template.md
  package.json
  yarn.lock
Labels: android, migration

#285 Migrate iOS to swift and AVPlaye
  CHANGELOG.md
  Example/App.tsx
  Example/ios/Podfile
  Example/ios/Podfile.lock
  Example/ios/RNAudioRecorderPlayer.xcodeproj/project.pbxproj
  Example/ios/RNAudioRecorderPlayer/Info.plist
  Example/ios/SwiftBridge.swift
  README.md
  RNAudioRecorderPlayer.podspec
  ios/RNAudioRecorderPlayer.h
  ios/RNAudioRecorderPlayer.m
  ios/RNAudioRecorderPlayer.swift
  package.json
Labels: 📘 release, 📱 iOS, 🚽 migration

#286 Ability to pause and resume recording
  CHANGELOG.md
  Example/App.tsx
  Example/android/build.gradle
  README.md
  android/src/main/java/com/dooboolab.audiorecorderplayer/RNAudioRecorderPlayerModule.kt
  index.ts
  ios/RNAudioRecorderPlayer.h
  ios/RNAudioRecorderPlayer.m
  ios/RNAudioRecorderPlayer.swift
  package.json
Labels: 🎯 feature

#287 Release 3.0.0-beta.3
  CHANGELOG.md
  Example/App.tsx
  README.md
  android/src/main/java/com/dooboolab.audiorecorderplayer/RNAudioRecorderPlayerModule.kt
  package.json
Labels: 🍗 enhancement, 🛠 bugfix, 🤖 android

#289 Release 3.0.0
  CHANGELOG.md
  Example/App.tsx
  Example/ios/Podfile.lock
  ios/RNAudioRecorderPlayer.swift
  package.json
Labels: 📘 release

#301 Allow file uri to play in `iOS`
  CHANGELOG.md
  ios/RNAudioRecorderPlayer.swift
  package.json
Labels: 🍗 enhancement, 📱 iOS

#305 Add optional wrappers to support android sdk 30
  android/src/main/java/com/dooboolab.audiorecorderplayer/RNAudioRecorderPlayerModule.kt
Labels: 👷‍♀️ build, 🤖 android

#307 Handle file path better
  CHANGELOG.md
  ios/RNAudioRecorderPlayer.swift
  issue_template.md
  package.json
Labels: 🍗 enhancement, 📘 release, 📱 iOS

#310 Update types in listener functions
  index.ts
Labels: ❄️ types

#311 [iOS] Fix seekToPlayer method: it always seeked to 0.
  ios/RNAudioRecorderPlayer.m
Labels: 📱 iOS, 🛠 bugfix

#315 Set recording audio sesssion default to speaker
  CHANGELOG.md
  ios/RNAudioRecorderPlayer.swift
  package.json
Labels: ⌚️ regression, 📱 iOS
