Repository hyochan/react-native-nitro-sound, pull requests merged in 2021-06, with the labels that each got.

#318 Fix typo in README
  README.md
Labels: 📖 documentation

#319 Resolve #297 (3.0.8)
  CHANGELOG.md
  ios/RNAudioRecorderPlayer.swift
  package.json
Labels: 📘 release, 📱 iOS, 🛠 bugfix

#324 Impossible to select opus encoding on `iOS`
  ios/RNAudioRecorderPlayer.swift
Labels: 📱 iOS, 🛠 bugfix

#332 Fix minimum iOS deployment target
  RNAudioRecorderPlayer.podspec
  package.json
  yarn.lock
Labels: dependencies, 📱 iOS

#337 fix println needs a message in android
  android/src/main/java/com/dooboolab.audiorecorderplayer/RNAudioRecorderPlayerModule.kt
Labels: 🛠 bugfix, 🤖 android

#338 Update RNAudioRecorderPlayer.podspec
  RNAudioRecorderPlayer.podspec
Labels: dependencies, 📱 iOS

#341 Fix unexpectedly found nil in swift
  CHANGELOG.md
  ios/RNAudioRecorderPlayer.swift
  package.json
Labels: 📱 iOS, 🔥 hotfix
