Repository hyochan/react-native-nitro-sound, pull requests merged in 2021-07, with the labels that each got.

#352 Update readme with functions to remove listeners
  README.md
Labels: 📖 documentation

#355 iOS - set AVAudioSession active before startPlayer
  ios/RNAudioRecorderPlayer.swift
Labels: 🍗 enhancement, 📱 iOS, 🛠 bugfix

#353 Stop player on completion
  CHANGELOG.md
  Example/App.tsx
  Example/yarn.lock
  android/src/main/java/com/dooboolab.audiorecorderplayer/RNAudioRecorderPlayerModule.kt
  index.ts
  package.json
Labels: 🍗 enhancement

#362 Check if recording actually started
  ios/RNAudioRecorderPlayer.swift
Labels: 📱 iOS, 🛠 bugfix
