Repository hyochan/react-native-nitro-sound, pull requests merged in 2023-10, with the labels that each got.

#556 add ios encodingType wav
  index.ts
  ios/RNAudioRecorderPlayer.swift
  yarn.lock
Labels: 🍗 enhancement, 📱 iOS

#559 Reset MediaPlayer on Stop and Completion in Android
  android/src/main/java/com/dooboolab.audiorecorderplayer/RNAudioRecorderPlayerModule.kt
Labels: 🍗 enhancement, 🤖 android

#560 More fixes in #559
  android/src/main/java/com/dooboolab.audiorecorderplayer/RNAudioRecorderPlayerModule.kt
Labels: 🍗 enhancement, 🤖 android

#558 Fix MediaPlayer Position Access Issue
  android/src/main/java/com/dooboolab.audiorecorderplayer/RNAudioRecorderPlayerModule.kt
Labels: 🛠 bugfix, 🤖 android
