Repository hyochan/react-native-nitro-sound, pull requests merged in 2025-09, with the labels that each got.

#686 fix: xcodebuild with Static Linking (for Firebase)
  NitroAudioRecorderPlayer.podspec
Labels: 🛠 bugfix, 📱 iOS

#699 fix(android): return file path from stopRecorder
  android/src/main/java/com/margelo/nitro/audiorecorderplayer/AudioRecorderPlayer.kt
  example/src/App.tsx
Labels: 🛠 bugfix, 🤖 android

#701 chore(example): upgrade RN to 0.81.1
  .github/workflows/ci-ios.yml
  example/android/app/src/main/java/audiorecorderplayer/example/MainApplication.kt
  example/android/build.gradle
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/ios/AudioRecorderPlayerExample/Info.plist
  example/ios/Podfile.lock
  example/package.json
  yarn.lock
Labels: 👀 example, 🚽 migration

#700 fix(ios): ensure audio session activation before recording In #694
  .vscode/ios.sh
  .vscode/launch.json
  AGENTS.md
  NitroAudioRecorderPlayer.podspec
  example/ios/Podfile.lock
  ios/AudioRecorderPlayer.swift
  nitrogen/generated/android/audiorecorderplayer+autolinking.cmake
  nitrogen/generated/android/audiorecorderplayer+autolinking.gradle
  nitrogen/generated/android/audiorecorderplayerOnLoad.cpp
  nitrogen/generated/android/audiorecorderplayerOnLoad.hpp
  nitrogen/generated/android/kotlin/com/margelo/nitro/audiorecorderplayer/audiorecorderplayerOnLoad.kt
  nitrogen/generated/ios/AudioRecorderPlayer+autolinking.rb
  nitrogen/generated/ios/AudioRecorderPlayer-Swift-Cxx-Bridge.cpp
  nitrogen/generated/ios/AudioRecorderPlayer-Swift-Cxx-Bridge.hpp
  nitrogen/generated/ios/AudioRecorderPlayer-Swift-Cxx-Umbrella.hpp
  nitrogen/generated/ios/AudioRecorderPlayerAutolinking.mm
  nitrogen/generated/ios/AudioRecorderPlayerAutolinking.swift
  src/index.web.tsx
Labels: 🛠 bugfix, 📱 iOS

#702 fix(android): handle MediaPlayer errors and prevent double resolution
  .github/workflows/ci-ios.yml
  android/src/main/java/com/margelo/nitro/audiorecorderplayer/AudioRecorderPlayer.kt
  example/Gemfile
  example/Gemfile.lock
  example/src/App.tsx
  example/src/RapidSwitchTest.tsx
Labels: 🛠 bugfix, 🍗 enhancement, 🤖 android

#703 fix(android): return file:// URIs for recording and support file:// in playback
  android/src/main/java/com/margelo/nitro/audiorecorderplayer/AudioRecorderPlayer.kt
  example/ios/Podfile.lock
Labels: 🍗 enhancement, 🤖 android

#707 feat: add useSound hook and improve RapidSwitchTest
  .eslintignore
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .vscode/launch.json
  Logo Primary.png
  README.md
  android/build.gradle
  android/src/main/java/com/margelo/nitro/audiorecorderplayer/Sound.kt
  commitlint.config.js
  eslint.config.mjs
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/java/sound/example/SplashActivity.kt
  example/android/app/src/main/res/drawable-nodpi/.gitkeep
  example/android/app/src/main/res/drawable-nodpi/launch.png
  example/android/app/src/main/res/drawable/launch.png
  example/android/app/src/main/res/drawable/launch_background.xml
  example/android/app/src/main/res/layout/activity_splash.xml
  example/android/app/src/main/res/values-v31/styles.xml
  example/android/app/src/main/res/values/colors.xml
  example/android/app/src/main/res/values/styles.xml
  example/ios/Podfile
  example/ios/Podfile.lock
  example/ios/SoundExample.xcodeproj/project.pbxproj
  example/ios/SoundExample/Images.xcassets/Launch.imageset/Contents.json
  example/ios/SoundExample/Images.xcassets/Launch.imageset/launch.png
  example/ios/SoundExample/LaunchScreen.storyboard
  example/package.json
  example/public/Logo.png
  example/public/launch.png
  example/react-native.config.js
  example/scripts/ios-select.js
  example/src/App.tsx
  example/src/RapidSwitchTest.tsx
  example/src/safe-area/SafeAreaContext.tsx
  example/src/screens/HomeScreen.tsx
  example/src/screens/RapidSwitchScreen.tsx
  example/src/screens/SoundHookScreen.tsx
  example/src/screens/SoundHookStatesScreen.tsx
  example/src/screens/SoundScreen.tsx
  example/webpack.config.js
  ios/Sound.swift
  package.json
  src/index.tsx
  src/index.web.tsx
  src/useSound.ts
  src/useSoundRecorder.ts
  src/useSoundRecorderWithStates.ts
  src/useSoundWithStates.ts
  src/utils/sound.ts
  yarn.lock
Labels: 🎯 feature

#720 fix: iOS addPlayBackListener not working due to timer threading issue
  ios/Sound.swift
Labels: 🐛 bug, 📱 iOS

#728 fix: sanitize platform specific props to avoid crash
  README.md
  android/src/main/java/com/margelo/nitro/audiorecorderplayer/Sound.kt
  example/ios/Podfile.lock
  ios/Sound.swift
  nitrogen/generated/android/c++/JAudioSet.hpp
  nitrogen/generated/android/c++/JHybridSoundSpec.cpp
  nitrogen/generated/android/kotlin/com/margelo/nitro/sound/AudioSet.kt
  nitrogen/generated/ios/NitroSound-Swift-Cxx-Bridge.hpp
  nitrogen/generated/ios/c++/HybridSoundSpecSwift.hpp
  nitrogen/generated/ios/swift/AudioSet.swift
  nitrogen/generated/shared/c++/AudioSet.hpp
  package.json
  src/specs/Sound.nitro.ts
  yarn.lock
Labels: 🛠 bugfix, 🤖 android, 📱 iOS
